* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: black;
  /* color: black; */
}

.app {
  max-width: 700px;
  margin: 5px auto;

}

.player-container {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  color: white;
}

/* ReactPlayer fills container */
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* NAVBAR */
/* .navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  z-index: 2;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
} */

.navbar {
  /* background-color: #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 12px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.video-title {
  font-size: 16px;
  font-weight: 600;
}

.nav-right {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.nav-right button:hover,
.nav-left button:hover {
  color: #00bfff;
}

.nav-left .video-title {
  font-size: 14px;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 20px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.9), transparent); */
  /* background: #000; */
  color: white;
  z-index: 2;
}

/* Progress */
.progress-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.progress-container span {
  width: 50px;
  font-size: 13px;
}

.progress-wrapper {
  flex: 1;
}

/* Controls Row */
.controls-row {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
}

.left-controls,
.center-controls,
.right-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left-controls {
  flex: 1;
  justify-content: flex-start;
}

.center-controls {
  flex: 1;
  justify-content: center;
}

.right-controls {
  flex: 1;
  justify-content: flex-end;
  color: beige;
}

.right-controls select {
  color: white;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
}

/* Buttons */
button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.3s ease;

}

button:hover {
  color: #1db954;
  transform: scale(1.1);
}

.center-controls button:active {
  transform: scale(0.95);
}

.center-controls button {
  font-size: 32px;
}

.center-controls button:nth-child(2) {
  font-size: 48px;
  background: #1db954;
  color: #000;
  padding: 12px;
  border-radius: 50%;
}


/* Range */
input[type="range"] {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
}

/* #play-pause {
  font-size: 48px;
  background: #1db954;
  color: #000;
  padding: 12px;
  border-radius: 50%;
} */